.thumbnail {
	width: 25%;
	float:left;
}

embed {
	width:1px;
	height: 1px;
}
audio {
	display: none;
}

body {
	background-image: url(./assets/other.jpg);
	
}

h3 {
	color: white;
}

img {
	border-radius: 5px
}